div.container.landscape.landscape.landscape {
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 1fr;

  .bm-menu-wrap {
    .bm-item-list {
      height: auto !important;
    }
    .ant-btn-primary {
      width: 20%;
      min-width: 75px;
      height: 32px;
    }
    .ant-btn-primary[disabled],
    .ant-btn-primary[disabled]:hover,
    .ant-btn-primary[disabled]:focus,
    .ant-btn-primary[disabled]:active {
      margin-bottom: 20px;
    }
  }
  .display > .result {
    padding: 23% 5% 0 5%;
    width: 100%;
    h2 {
      font-size: 3rem;
      @media (min-width: 1000px) {
        font-size: 5rem;
      }
    }
  }
  .calcBox {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    align-items: center;
    .buttonPad {
      border-top: none;
      border-right: 1px solid #3f4895;
      width: 100%;
      max-width: 100%;
      grid-template-columns: repeat(5, 13%);
      grid-template-rows: repeat(4, 18%);
      .buttonContainer.buttonContainer.buttonContainer.buttonContainer.buttonContainer {
        button {
          max-width: 100%;
          padding-bottom: 100%;
        }
      }
      .clearButtonContainer {
        grid-row-end: 2 span;
        .clearButton {
          height: 100%;
          border-radius: 40px;
        }
      }
      .zeroButton.landscape.landscape.landscape {
        grid-column: 2/4;
        .buttonContainer.buttonContainer.buttonContainer.buttonContainer {
          button {
            max-height: 100%;
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
